body {
    /* background-image: linear-gradient(to bottom right,  rgb(200 200 200 / 90%),  rgb(0 0 0 / 100%)); */
    background-color: rgb(48,48,48);
    /* background: linear-gradient(to right, rgba(200,200,200,1) 0%, rgba(160,160,160,0.5) 20px, rgba(70,130,176,0.45) 100%);  */
}

article{
    margin: 10px;
}

header {
    margin: 4px;
    padding: 10px;
    background-color: rgba(200,200,200,0.75);
}

#callout-note::before{
    padding: 10px;
    content: "Note:";
}

#callout-note{
    padding: 2px;
    margin: 10px;
    border-left: 10px solid blue;
    background-color: rgb(0 0 255 / 15%);
}

#callout {
    padding: 2px;
    margin: 10px;
    border-left: 10px solid purple;
    background-color: rgb(128 0 128 / 15%);
}

h2 {
    background: linear-gradient(to right, rgba(200,200,200,0.75), rgba(200,200,200,0.75) 50%, rgba(70,130,176,0.45)100%); 
    background-color: rgb(255 255 255 / 20%);
    border-left: 10px solid rgb(128 128 128 / 15%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px 15px 0px 0px;
}


h3 {
    background: linear-gradient(to right, rgba(200,200,200,0.75), rgba(200,200,200,0.75) 50%, rgba(70,130,176,0.45)100%); 
    background-color: rgb(255 255 255 / 20%);
    border-left: 10px solid rgb(128 128 128 / 15%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px 15px 0px 0px;
}

h4 {
    background: linear-gradient(to right, rgba(200,200,200,0.75), rgba(200,200,200,0.75) 50%, rgba(70,130,176,0.45)100%); 
    background-color: rgb(255 255 255 / 20%);
    border-left: 10px solid rgb(128 128 128 / 15%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-bottom: 2px solid black;
    border-right: 2px solid black; */
    border-radius: 15px 15px 0px 0px;
    box-shadow: 4px 4px 2px rgb(64 64 64/ 20%);
}

p {
    margin: 10px;
}

section.h2 {
    background: linear-gradient(to right, rgba(220,220,220,0.75) 20px, rgba(200,200,200,0.75) 50%, rgba(70,130,176,0.45));
    background-color: rgb(255 255 255 / 20%);
    position: relative;
    top: -20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-left: 40px solid (255 255 255 / 100%);
    /* background-image: linear-gradient(to top right,  rgb(200 200 200 / 15%),  rgb(128 128 128 / 15%)); */
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    /* background-color: hsla(0, 0%, 100%, 0.075); */
    border-radius: 0px 0px 20px 20px;
}

section.h3 {
    background: linear-gradient(to right, rgba(220,220,220,0.15) 20px, rgba(200,200,200,0.15) 50%, rgba(200,200,200,0.10));
    background-color: rgb(255 255 255 / 20%);
    position: relative;
    top: -20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-left: 40px solid (255 255 255 / 100%);
    /* background-image: linear-gradient(to top right,  rgb(200 200 200 / 15%),  rgb(128 128 128 / 15%)); */
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 0px 0px 20px 20px;
}

section.h4 {
    padding: 20px;
    position: relative;
    top: -20px;
    background: linear-gradient(to right, rgba(220,220,220,0.15) 20px, rgba(200,200,200,0.15) 50%, rgba(200,200,200,0.10));
    background-color: rgb(255 255 255 / 20%);
    /* border-bottom: 3px solid black;
    border-right: 3px solid black; */
    box-shadow: 4px 4px 2px rgb(64 64 64/ 40%);
    border-radius: 0px 0px 20px 20px;
}