pre {
    display: block;
    counter-reset: linenumber;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
}

code.python {
    color: blue;
    
}

code.python::before{
    position: absolute;
    left: 0.5rem;
    font-family: monospace;
    counter-increment: linenumber;
    content: counter(linenumber);
}

code.python > span.comment{
    color: green;
}

code.python > span.keyword{
    color: purple;
}

code.python > span.method{
    color: darkgoldenrod;
}